body {
  margin: 0;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}

#card {
  display: flex;
  flex-direction: column;
}

model-viewer {
  width: 99%;
  height: 397px;
  border: #eee;
  border-width: 1px;
  border-style: solid;
  background-image: radial-gradient(#f9f9f9, #f1f1f1)
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attribution img {
  opacity: 0.5;
  height: 2em;
}

.attribution .cc {
  flex-shrink: 0;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}
